{require_otp_vsn, "R1[456]B|17|18"}.

{erl_opts,
 [fail_on_warning,
  {parse_transform, lager_transform}]}.

{deps_dir, "../deps"}.
{deps, [
        {lager,      ".*",{git, "https://github.com/basho/lager.git",               {tag,"2.1.1"}}},
        {of_config,  ".*",{git, "https://github.com/FlowForwarding/of_config.git",  {branch,"master"}}},
        {of_msg_lib, ".*",{git, "https://github.com/FlowForwarding/of_msg_lib.git", {branch,"master"}}},
        {of_protocol,".*",{git, "https://github.com/FlowForwarding/of_protocol.git",{branch,"master"}}},
        {ofs_handler,".*",{git, "https://github.com/FlowForwarding/ofs_handler.git",{branch,"master"}}},
        {of_driver,  ".*",{git, "https://github.com/FlowForwarding/of_driver.git",  {branch,"master"}}}
       ]
}.

{sub_dirs,
 ["apps/icontrol",
  "rel"]
}.
{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
