<md-tabs layout="column" flex selected="0">
    <md-tab>
        <md-tab-label>Histogram</md-tab-label>
        <div layout-fill layout="column" ng-controller="EndpointsHistogramController">
            <md-content flex class="md-whiteframe-z1 chart-container-wrap" layout="column" layout-margin>
                <div google-chart chart="chartObject" on-select="select(selectedItem)" style="overflow: hidden; height: 100%; width: 100%; position: absolute;"></div>
            </md-content>
        </div>
    </md-tab>
    <md-tab>
        <md-tab-label>Graph</md-tab-label>
        <div layout-fill layout="column" ng-controller="EndpointsGraphController">
            <nci-sigma-graph nodes="nodes" edges="edges" flex class="md-whiteframe-z1" layout-margin style="position: relative">
            </nci-sigma-graph>
        </div>
    </md-tab>
    <md-tab>
        <md-tab-label>List</md-tab-label>
        <div layout-fill layout="column">
            <div class="md-whiteframe-z1" flex layout-margin layout="column" style="position: relative;">
                <table st-fixed-header st-table="rows" class="table table-striped">
                    <thead>
                    <tr>
                        <th st-sort="ip">Endpoint</th>
                        <th st-sort="internalConnections">Internal</th>
                        <th st-sort="externalConnections">External</th>
                        <th st-sort="totalConnections">Total</th>
                        <th st-sort="activity.index">Activity</th>
                        <th st-sort="external">isExternal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in rows">
                        <td>{{row.ip}}</td>
                        <td>{{row.internalConnections}}</td>
                        <td>{{row.externalConnections}}</td>
                        <td>{{row.totalConnections}}</td>
                        <td>Activity #{{row.activity.index}}</td>
                        <td>{{row.external}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-pagination="" st-items-by-page="50" st-displayed-pages=""></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        </div>
    </md-tab>
</md-tabs>
