*~
.eunit
.rebar
deps
*.o
*.beam
*.plt
*.DS_Store
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
*.pdf
*.glg
*.glo
*.gls
*.ist
apps/*/logs
apps/*/ebin
apps/*/.eunit
ebin/
erl_crash.dump
Mnesia*
.DS_Store
xcuserdata
Pods
tapestry/src/ui/mobile/android/gen/android/
tapestry/src/ui/mobile/android/gen/com/infoblox/tapestry/R.java
.idea
