{require_otp_vsn, "R1[56]B"}.

{erl_opts,
 [fail_on_warning]}.

{sub_dirs,
 []}.

{deps,
[
 {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "master"}}},
 {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "master"}}},
 {pkt, ".*", {git, "https://github.com/esl/pkt.git",
               "d534784420b3ff41b7c36a6dd7a114497c8767ea"}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
