{require_otp_vsn, "R1[56]B|17|18"}.

{erl_opts,
 [fail_on_warning,
  {parse_transform, lager_transform}]}.

{deps_dir, "../deps"}.
{deps,
[
 {lager, ".*",{git, "https://github.com/basho/lager.git", {tag,"2.1.1"}}},
 {folsom,     ".*",{git, "https://github.com/boundary/folsom.git", {branch,"master"}}}, 
 {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
 {pkt, ".*", {git, "https://github.com/esl/pkt.git", "d534784420b3ff41b7c36a6dd7a114497c8767ea"}},
 {yaws, ".*", {git, "https://github.com/klacke/yaws.git", {tag, "yaws-erlang-18"}}},
 {bifrost, ".*", {git, "https://github.com/marcsugiyama/bifrost.git", {branch, "debug"}}},
 {of_msg_lib, ".*",{git, "https://github.com/FlowForwarding/of_msg_lib.git", {branch,"master"}}},
 {of_protocol, ".*",{git, "https://github.com/FlowForwarding/of_protocol.git", {branch,"master"}}},
 {ofs_handler, ".*",{git, "https://github.com/FlowForwarding/ofs_handler.git",{branch,"master"}}},
 {of_driver, ".*",{git, "https://github.com/FlowForwarding/of_driver.git", {branch,"master"}}},
 {recon, ".*",{git, "https://github.com/ferd/recon.git", {branch,"master"}}}
]}.

{sub_dirs,
 ["apps/tapestry",
  "rel"]
}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
