[
 {tapestry, [
             {config_file, "tapestry.config"},
             {save_files, false},
             {web_address, {127,0,0,1}},
             {web_port, 28080},
             {web_log, "./log"},
             {web_id, "tapestry"},
             {ftpd_port, 7777},
             {ftpd_address, {0,0,0,0}},
             % packet_in - open flow packet ins from DNS snoop
             % test_ui - random data generator
             % anonymized - ftp .tgz files
             % logfile - ftp Inflblox grid log .gz files
             {datasource, packet_in},
             {nci_min_interval, {seconds, 15}},
             {qps_max_interval, {seconds, 15}},
             {clean_interval, [{days, 0}, {hms, {1, 0, 0}}]},
             {data_max_age, [{days, 2}, {hms, {0, 0, 0}}]},
             {max_edges, infinity},
             {max_vertices, infinity},
             {max_communities, infinity}
 ]},
 {of_driver, [
              {listen, false},
              {listen_ip, {0,0,0,0}},
              {listen_port, 6653},
              {callback_module, ofs_handler_driver}
             ]},
 {ofs_handler, [
                {callback_module, tap_ofsh}
               ]},
 {lager, [
          {handlers, [
                      {lager_console_backend, debug},
                      {lager_file_backend, [
                           {"log/error.log", error, 10485760, "$D0", 5},
                           {"log/console.log", info, 10485760, "$D0", 5}
                                           ]}
                     ]}
         ]},
 {yaws, [{embedded, true}]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].
