% ports
{web_port, 28080}.
{web_address, {127,0,0,1}}.
{ftpd_port, 7777}.

% test mode?
{ui_test, disabled}.

% timers
{nci_min_interval, {seconds, 15}}.
{clean_interval, [{days, 0}, {hms, {1, 0, 0}}]}.
{data_max_age, [{days, 2}, {hms, {0, 0, 0}}]}.

% switches
{switch, [{ip_addr, {10,48,33,190}},
          {dns_port, 1},
          {client_port, 2},
          {dns_ips, [{10,0,2,60}, {10,48,2,5}]}
]}.
% {switch, [{dpid, {0,<<8,0,39,197,149,72>>}},
{switch, [{ip_addr, {192,168,56,102}},
          {dns_port, 1},
          {client_port, 2},
          {dns_ips, [{10,0,2,60}, {10,48,2,5}]}
]}.
