% ports
{web_port, 28080}.
% {web_address, {0,0,0,0}}.
{web_address, {127,0,0,1}}.
{ftpd_port, 7777}.
{max_edges, 9000}.
{max_vertices, 300}.
{max_communities, 300}.

% data source: possible values are logfile, anonymized, packet_in, test_ui
{datasource, logfile}.

% timers
{nci_min_interval, {seconds, 15}}.
{clean_interval, [{days, 0}, {hms, {1, 0, 0}}]}.
{data_max_age, [{days, 2}, {hms, {0, 0, 0}}]}.

%{connect_to, {{10,48,33,176}, 6634}}.
%{connect_to, {{10,32,3,205}, 6634}}.
%{connect_to, {{10,32,1,104}, 6634}}.
