% ports
{web_port, 28080}.
{web_address, {127,0,0,1}}.
{ftpd_port, 7777}.

% timers
{nci_min_interval, {seconds, 15}}.
{data_max_age, {{days, 2}, {hms, {0, 0, 0}}}}.

% switches
{ofdps, [{ofdp, {ip_addr, {10,48,33,190}},
                {dns_port, 1},
                {client_port, 2},
                {dns_ips, [{10,0,2,60}, {10,48,2,5}]}
         }]}.
