% Specify the ports for a tapestry tap.
%
% port1 - connected to DNS Server
% port2 - connected to DNS client network
% dns_ip - IP addresses of the DNS Server(s) connected to port1

% Configuration for a specific switch.  Identify the switch by its
% datapath id.
{"00:00:00:00:08:00:27:C5",[{port1, 1},
                            {port2, 2},
                            {dns_ips, [{10,0,1,2},{10,3,2,3}]}]}.

% Configuration to use for any other switch.  Use this if all the switches
% connecting to this controller have the same configuration (or there is
% only ever one switch connecting).
{default,                  [{port1, 5},
                            {port2, 6},
                            {dns_ips, [{10,0,1,2},{10,3,2,3}]}]}.

% Force the controller to connect to the switch (IP Addr and Port).
% The controller will try connecting periodically until the switch
% accepts the connection.
{connect_to, {{192,168,56,102}, 6653}}.
