<md-tabs layout="column" flex selected="0">
    <md-tab>
        <md-tab-label>Histogram</md-tab-label>
        <div layout-fill layout="column" ng-controller="HistogramController">
            <md-content flex class="md-whiteframe-z1 chart-container-wrap" layout="column" layout-margin>
                <div flex google-chart chart="chartObject" on-select="select(selectedItem)" style="overflow: hidden;"></div>
                <p class="activity-caption">
                    <strong>NCI(N) = Max j, X[j] ≥ j</strong><br/>
                    <em>where NCI(N) is the Network Complexity Index of network N and X[j] is the number of endpoints engaged in an activity</em>
                </p>
            </md-content>
        </div>
    </md-tab>
    <md-tab>
        <md-tab-label>Graph</md-tab-label>
        <div layout-fill layout="column" ng-controller="GraphController">
            <nci-sigma-graph
                    nodes="nodes"
                    nci-graph-node-click="expandNode"
                    edges="edges"
                    flex
                    class="md-whiteframe-z1"
                    tooltip="tooltip"
                    layout-margin style="position: relative">
            </nci-sigma-graph>
            <div class="legend-section md-whiteframe-z1">
                <div class="legend-key" ng-repeat="key in legendKeys">
                    <span ng-class="key.shape" ng-style="{'background-color': key.color}"></span><span> - {{key.text}}</span>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab>
        <md-tab-label>List</md-tab-label>
            <div layout-fill layout="column">
                <div class="md-whiteframe-z1" flex layout-margin layout="column" style="position: relative;">
                    <table st-fixed-header st-table="rows" class="table table-striped header-fixed">
                        <thead>
                            <tr>
                                <th st-sort="index">Index</th>
                                <th st-sort="mainEndpoint.ip">IP</th>
                                <th st-sort="internalFlows">Internal Flows</th>
                                <th st-sort="externalFlows">External Flows</th>
                                <th st-sort="size">Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in rows">
                                <td>Activity #{{row.index}}</td>
                                <td>{{row.mainEndpoint.ip}}</td>
                                <td>{{row.internalFlows}}</td>
                                <td>{{row.externalFlows}}</td>
                                <td>{{row.size}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </md-tab>
</md-tabs>
