<md-content layout="column" class="md-whiteframe-z1" layout="row" layout-margin flex>
    <div style="position: relative;" lyout-fill flex>
        <nci-dygraphs
            ng-if="data.length"
            range="range"
            draw-on-visible
            data="data" 
            options="options" 
            style="position: absolute; width: 100%; height: 100%;" ></nci-dygraphs>
    </div>
    <div layout-margin layout="row">
        <md-button 
            ng-repeat="button in buttons"
            flex 
            ng-click="updatePeriod(button.period)"
            ng-disabled="button.period===currentPeriod"
            class="md-primary md-hue-1"
        >
            {{button.text}}
        </md-button>
    </div>
</md-content>









