<div class="md-whiteframe-z1" layout-margin>
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <div>
                <div>Real time NCI: {{nci}}</div>
                <div class="updatedTime">updated: {{updatedAt | date : 'medium'}}</div>
            </div>
        </div>
    </md-toolbar>
    <md-content class="md-padding">

        <div>Flow Collectors: {{collectors}}</div>
        <div>Endpoints: {{endpoints}}</div>
        <div>Number of flows: {{flows}}</div>
        <div>Flows per Second: {{flowsPerSecond | number:1}}</div>
    </md-content>
</div>
