{require_otp_vsn, "R1[456]B|17"}.

{erl_opts,
 [fail_on_warning,
  {parse_transform, lager_transform}]}.

{deps_dir, "../deps"}.
{deps, [
        {lager,      ".*",{git, "https://github.com/basho/lager.git",               {tag,"1.2.2"}}},
        {grapher,    ".*",{git, "https://github.com/shivarammysore/grapher.git",    {branch,"master"}}}
       ]
}.

{sub_dirs,
 ["apps/net_observer",
  "rel"]
}.
{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
