[
 {of_driver,[ {listen_ip, {0,0,0,0}},
	      {listen_port, 6653},
	      {listen_opts,[binary, {packet, raw}, {active, false}, {reuseaddr, true}]},
              {of_compatible_versions, [4]},
              {callback_module, ofs_handler_driver},
              {enable_ping, false},
              {ping_timeout,1000},
              {ping_idle,5000},
              {multipart_timeout,30000}       %% IMPLEMENT
 ]},

{ofs_handler,[
        {callback_module,icontrol_ofsh},     
        {peer,"localhost"},
        {callback_opts,[]}
 ]},

 {lager,
  [
   {handlers,
    [
     {lager_console_backend, debug},
     {lager_file_backend,
      [
       {"log/error.log", error, 10485760, "$D0", 5},
       {"log/console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},


 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

