% switches
% {switch, [{dpid, {0,<<8,0,39,197,149,72>>}},
{switch, [{ip_addr, {192,168,56,102}},
          {dns_port, 1},
          {client_port, 2},
          {dns_ips, [{10,0,2,60}, {10,48,2,5}]}
]}.

% BLACK switch
{switch, [{ip_addr, {10,48,33,185}},
          {dns_port, 1},
          {client_port, 2},
          {dns_ips, [{10,102,3,50}, {10,48,2,5}]}
]}.

% RED switch
{switch, [{ip_addr, {10,32,1,39}},
          {dns_port, 1},
          {client_port, 2},
          {dns_ips, [{10,102,3,50}, {10,48,2,5}]}
]}.
