%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "tapestry", "1",
        [
         kernel,
         stdlib,
         sasl,
         {bifrost, load},
         eenum,
         ibrowse,
         jiffy,
         lager,
         folsom,
         of_msg_lib,
         of_driver,
         of_protocol,
         ofs_handler,
         pkt,
         yaws,
         tapestry
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "tapestry"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       %% OTP Applications
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, public_key, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, ssl, [{incl_cond, include}]},
       {app, asn1, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, runtime_tools, [{incl_cond, include}]},
       {app, ssh, [{incl_cond, include}]},
       {app, xmerl, [{incl_cond, include}]},
       {app, mnesia, [{incl_cond, include}]},
       %% Project dependencies
       {app, of_protocol, [{incl_cond, include}]},
       {app, bifrost, [{mod_cond, app}, {incl_cond, include}]},
       {app, eenum, [{incl_cond, include}]},
       {app, ibrowse, [{incl_cond, include}]},
       {app, jiffy, [{incl_cond, include}]},
       {app, lager,[{incl_cond, include}]},
       {app, folsom,[{incl_cond, include}]},
       {app, of_msg_lib, [{incl_cond, include}]},
       {app, of_driver, [{incl_cond, include}]},
       {app, ofs_handler, [{incl_cond, include}]},
       {app, pkt, [{incl_cond, include}]},
       {app, yaws, [{incl_cond, include}]},
       %% Project applications
       {app, tapestry, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "tapestry"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "tapestry/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/tapestry", "bin/tapestry"},
           {copy, "files/tapestry.cmd", "bin/tapestry.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/tapestry.config", "tapestry.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
