<div class="md-whiteframe-z1" flex layout-margin layout="column" style="position: relative;">
    <table st-fixed-header st-table="rows" class="table table-striped header-fixed">
        <thead>
        <tr>
            <th st-sort="index">Index</th>
            <th st-sort="mainEndpoint.ip">IP</th>
            <th st-sort="internalFlows">Internal Flows</th>
            <th st-sort="externalFlows">External Flows</th>
            <th st-sort="size">Size</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows">
            <td>Activity #{{row.index}}</td>
            <td>{{row.mainEndpoint.ip}}</td>
            <td>{{row.internalFlows}}</td>
            <td>{{row.externalFlows}}</td>
            <td>{{row.size}}</td>
        </tr>
        </tbody>
    </table>
</div>
